@model Carr

<h1>Car Detail</h1>
<p>
    <strong>ID:</strong> @Model.Id <br />
    <strong>Name:</strong> @Model.Name <br />
    <strong>Model ID:</strong> @Model.ModelId <br />
    <strong>Color:</strong> @Model.Color <br />
</p>
