@model List<Marka>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/model/index?markaId=@item.Id">
                @item.Id - @item.Country - @item.Name
            </a>
        </li>
    }
</ul>