@model List<Model>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <a href="/Car/index?modelId=@item.Id">
                @item.Id - @item.Name
            </a>
        </li>
    }
</ul>
